@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Outfit&family=Overpass:ital,wght@0,400;1,500&display=swap');

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Game{
    
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
}
#Img{
    height: 95%;
    width: 90%;
}
.gameScore{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scoreBox{
    background-color: transparent;
    width: 50%;
    height: 90%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    border: 1px solid white;
}
#playAgnBtn{
    height: 100%;
    width: 40%;
    font-weight: 400;
    color:hsl(229, 25%, 31%) ;
    border-radius: 7px;
    letter-spacing: 0.1em;
    font-size: 18px;
    border: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#resultTxt{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 40px;
}
#playAgnBtn:hover{
    cursor: pointer;
    color: red;
}
.scoreText p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: hsl(229, 64%, 46%);
    letter-spacing: 0.1em;
}
.playAgain-results{
    background-color: transparent;
    display: grid;
    grid-template-rows: 60% 40%;
}
.Number{
   
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;

}
.score{
    background-color: white;
    display: grid;
    grid-template-rows: 20% 80%;
    padding-bottom: 5px;
    border-radius: 12px;
}
.Number p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(229, 25%, 31%);
    
}
.scoreText{
    background-color: transparent;
    margin-bottom: 0;
}
.gameName{
background-color: transparent;
display: flex;
justify-content: left;
align-items: center;
text-align: left;
}
.gameName h3{
    line-height: 25px;
}
.gamePlay{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playBox{
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 41% 18% 41%;
    padding: 20px 20px 20px 20px;
    
}
.UserSelecting{
    background-color: transparent;
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.ComputerSelected{
    background-color: transparent;
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameRule{
    background-color: transparent;
    display: flex;
    align-items:center;
    justify-content: right;
}
.ruleBox{
    background-color: transparent;
    width: 15%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rulesBtn{
    border: 1px solid white;
    width: 65%;
    height: 80%;
    background-color: transparent;
    color: white;
    border-radius: 12px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.rulesModal{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.rulesModalActive{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.rules{ 
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

    background-color: white;
    width: 35%;
    height: 65%;
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
  }
  .RulesTitle p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:  hsl(229, 25%, 31%);
  }
  
  .title{
    display: grid;
    grid-template-columns: 50% 10%;
    grid-column-gap: 40%;
  }
  #closebtn:hover{
    cursor: pointer;
  }
  .RulesTitle, .close{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: hsl(217, 16%, 45%);
  }
  .display{
    padding: 25px 25px 25px 25px;
  }

  .paper-scissors{
    display: grid;
    grid-template-columns: 29% 29%;
    grid-column-gap: 20%;
    justify-content: center;
  }
  .paper:hover, .scissors:hover, .rockIcon:hover{
    cursor: pointer;
  }
.paper{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 25px hsl(230, 89%, 65%);
    z-index: 999;

}
.scissors{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 25px hsl(39, 89%, 49%);
    z-index: 999;

}
.rock{
display: flex;
justify-content: center;
}
.rockIcon{
    width: 29%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 25px hsl(349, 71%, 52%);
    z-index: 999;
}

.triangle{
    display: flex;
    justify-content: center;
}
.triangleImg{
    background-color: transparent;
    width: 53%;
    height: 270%;
    margin-top: -15%;
    z-index: 1;
}
#logoImage{
    width: 30%;
    height: 40%;
    z-index: 1;
}
#tri-logo{
    width: 100%;
    height: 100%;
}